<html>
<head>
  <title>Exposed</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
  <div class="billboard">
    <h1>EXPOSED</h1>
    <h1>http://bit.ly/1t6PFl9</h1>
    Work together to open the spiral!
    <p>
    <div class="todoList">
    1) Go to http://bit.ly/1t6PFl9<br>
    2) Choose an open sequence animation<br>
    3) Flip the switches to power up Exposed<br>
    4) Most flips get's to see their animation open exposed.<br>
    </div>
    <div id="animationTitle"></div>
    <div id="player"></div>
  </div>

   <script src="/socket.io/socket.io.js"></script>
   <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
   <script src="/js/site.js"></script>

{% block scripts %}
<script>
$( document ).ready(function() {
  var page = new BillboardPage();
  page.init();
   //initPlayPage();
});
</script>
{% endblock %}
</body>
</html>