{% extends 'layout.html' %}

{% block content %}
		<div class="info">your leaderboard name is</div>
		<div class="mainText">{{ moniker }}</div>


		<div class="info section right">open exposed via</div>

		{% for os in openSequences %}

			<a href="/play/{{os}}" class="openLink">{{os}}</a>

		{% endfor %}

			<!-- NINJAS -->
			<!--https://www.youtube.com/watch?v=BEtIoGQxqQs-->
			
			<!-- RA! -->
			<!--https://www.youtube.com/watch?v=dQw4w9WgXcQ-->

			<!-- MOONWALK -->
			<!-- https://www.youtube.com/watch?v=gE1ZvCnwkYk -->

			<!-- OUCH -->
			<!-- https://www.youtube.com/watch?v=dE-nfzcUiPk -->
{% endblock %}